# ---FILES---

.env
.DS_Store

# Ignore data files
data/
!/data/README.md

# Ignore file with pdf parsing
src/data_processing/pdf_playground.ipynb
src/data_processing/mapping.py


# ---DIRECTORIES---

venv/
__pycache__/