# ---FILES---

.env
.DS_Store

# Ignore pdf
data/ifc-annual-report-2024-financials.pdf
data/chunks_metadata.pkl

# Ignore file with pdf parsing
src/data_processing/pdf_playground.ipynb


# ---DIRECTORIES---

venv/
__pycache__/